html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=chrome")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Learn More
        link(rel="stylesheet", href="/style.css")
    
    body 
        include ./partials/header

        h1 Learn More About Canada's Incentives

        h4 Federal Incentives:
        a(href='https://tc.canada.ca/en/road-transportation/innovative-technologies/zero-emission-vehicles/list-eligible-vehicles-under-izev-program') Federal iZEV Program 

        h4 Provincial Incentives: 
        a(href='https://www.plugndrive.ca/electric-vehicle-incentives/') Ontario Incentives
        br
        a(href='https://www2.gov.bc.ca/gov/content/industry/electricity-alternative-energy/transportation-energies/clean-transportation-policies-programs/clean-energy-vehicle-program/passenger-vehicles') British Columbia Rebates 
        br
        a(href='https://vehiculeselectriques.gouv.qc.ca/english/rabais/ve-neuf/programme-rabais-vehicule-neuf.asp') Quebec Rebates
        br
        a(href='https://www.google.com/search?q=alberta+ev+incentive&rlz=1C5CHFA_enCA981CA981&sxsrf=APq-WBv4TPzsjYQ_P8_-pQTlIzamGY-Usg%3A1649098353677&ei=cT5LYvT3KNq2tAbi1YzwAg&ved=0ahUKEwi09MeMivv2AhVaG80KHeIqAy4Q4dUDCA4&uact=5&oq=alberta+ev+incentive&gs_lcp=Cgdnd3Mtd2l6EAMyBwgjELACECcyBAgAEA06CwgAELEDEIMBEJECOgUIABCRAjoKCAAQgAQQhwIQFDoFCAAQgAQ6BAgAEENKBAhBGABKBAhGGABQAFirDWD_DWgAcAF4AIABowKIAboKkgEFMC41LjKYAQCgAQHAAQE&sclient=gws-wiz') Alberta Incentives
        br

        h4 Looking Forward...
        a(href='https://www.canada.ca/en/transport-canada/news/2021/06/building-a-green-economy-government-of-canada-to-require-100-of-car-and-passenger-truck-sales-be-zero-emission-by-2035-in-canada.html') Canada's Plan for 2035